<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Create Order</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    
    <form class="container form-box" method="post">
    
        <h1>Create Order!</h1>
    
        <input type="text" placeholder="Price Of Order" name="priceOfOrder"><br>
        <input type="text" placeholder="Shipping Price" name="shippingPrice"><br>
        <input type="text" placeholder="Shipping Company" name="shippingCompany"><br>
        <input type="text" placeholder="Expected Arrival" name="expectedArrival"><br>
        <input type="text" placeholder="Products" name="products"><br>
        <input type="text" placeholder="Date" name="dateIssued"><br>
    
        <button class="btn btn-primary buttom" type="submit">Create</button>
       </form>

    
</body>
</html>