<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Sign up</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../LoginPage/loginPage.css">
</head>

<body>
    <div id="template1" class="header">
        <%- include ('../HomePage/HomePage.ejs') %>
    </div>
    
   <form class="container form-box" method="post" style=" margin-bottom: 10rem;">
    
    <h1 style="margin-top: 12rem;">Create Gift Card</h1>

    <input type="Number" name="Amount" placeholder="Amount" required><br>
    <input pattern="[A-Za-z ]+" type="text" placeholder="Description" name="Description" title="Only Letters!" required><br>
    
    <br><br>
    <button class="btn btn-primary buttom" type="submit">Create</button>
    
   </form>
   <footer id="footer-place"></footer>
                    <%- include ('../TemplatePage/Footer.ejs') %>


                    <script>
                        window.onload = function() {
                          var footer = document.querySelector('.theFoot');
                          var placeholder = document.querySelector('#footer-place');
                          placeholder.parentNode.insertBefore(footer, placeholder.nextSibling);
                         
                        }
                    </script>  

   <script>

    function checkSup(){
        document.getElementById("flexRadioDefault2").checked = false;
    }

    function checkCus(){
        document.getElementById("flexRadioDefault1").checked = false;
    }
    
   </script>
</body>


</html>