*{
    margin: 8;
    padding: 8;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    border: 10px;
}

.box{
    align-items: center;
}

.buttom{
    margin-top: 8px;
}

