<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Info</title>
    <link href="/info.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"></link>

  </head>
  <body>
    <div id="template1" class="header1">
         <%- include ('../HomePage/HomePage.ejs') %>
    </div>
    <div class="container1">
      <h1 style="margin-top: 6rem;" >Info</h1>
        <% if(type == "admin"){%>
          <h2 style="display: block;">map of customers</h2>
          <div class="col-md-6 offset-md-3" style="display: flex; align-items: center; justify-content: center;" id="map"></div>
          <%}%>
        <br>
    </div>
    <div class="container1">
        <h2 style="display: block;margin: 6rem;">Our stock</h2>
        <div style="display: flex; align-items: center; justify-content: center; ">
        <div style="width: 50rem; height: 25rem;"><canvas id="ma-chart" width="200" height="200"></canvas></div>
    </div>
    <div class="col-md-6 offset-md-3" style="margin-top: 4rem;">
      <h2>Sign Up Example</h2>
      <video width="100%" height="800" controls>
        <source src="./signUpExample.mp4" type="video/mp4">
      </video>
    </div>
    
  
  
      <script>
          window.onload = function() {
              var footer = document.querySelector('.theFoot');
              var placeholder = document.querySelector('#footer-place');
              placeholder.parentNode.insertBefore(footer, placeholder.nextSibling);
          }
      </script>
    

      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCj-7roIP9DhPdiKXSDJLOsZKJ7WB2Tyk8&callback=initMap&v=weekly" defer></script>
      
      <script src="/info.js"></script>
      
  </body>
  <footer id="footer-place"></footer>
    <%- include ('../TemplatePage/Footer.ejs') %>
</html>