<!DOCTYPE html>
<html>
  <head>
    <title>Info</title>
    <link href="/info.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
  </head>
  <body>
    <div id="template1" class="header1">
         <%- include ('../HomePage/HomePage.ejs') %>
    </div>
    <div class="container1">
      <h1 style="margin-top: 6rem;" >Info</h1>
        <% if(type == "admin"){%>
          <h2 style="display: block;">map of customers</h2>
          <div  style="display: flex; align-items: center; justify-content: center; " id="map"></div>
          <%}%>
        <br>
    </div>
    <div class="container">
        <h2 style="display: block;">Our stock</h2>
        <div style="display: flex; align-items: center; justify-content: center; ">
        <div style="width: 50rem; height: 25rem;"><canvas id="ma-chart" width="200" height="200"></canvas></div>
    </div>
    

      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCj-7roIP9DhPdiKXSDJLOsZKJ7WB2Tyk8&callback=initMap&v=weekly" defer></script>
      
      <script src="/info.js"></script>
      <footer id="footer-place"></footer>
    <%- include ('../TemplatePage/Footer.ejs') %>
  
  
      <script>
          window.onload = function() {
              var footer = document.querySelector('.theFoot');
              var placeholder = document.querySelector('#footer-place');
              placeholder.parentNode.insertBefore(footer, placeholder.nextSibling);
          }
      </script>
  </body>
</html>