<!DOCTYPE html>
<html>
  <head>
    <title>Info</title>
    <link href="/info.css" rel="stylesheet">
  </head>
  <body>
    <h1>Info</h1>
      <canvas id="myCanvas" width="200" height="200"></canvas>
      <br>
      <div class="video-container">
        <video width="960" height="720" controls>
          <source src="WhatsApp Video 2023-02-28 at 1.55.22 PM.mp4" type="video/mp4">
        </video>
      </div>
      <script src="/info.js"></script>
  </body>
</html>