<!DOCTYPE html>
<html lang = "en">
<head>
    <script src ="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
</head>

<body>

    <div id="template1" class="header">
        <%- include ('../HomePage/HomePage.ejs') %>
    </div>

    <br>

    <h1 style="text-align: center;">Admin Chat</h1>


    <h4><%=user.Name%></h4>

    <div id="messageBox" style="width: 400px;height: 400px; border-style:groove"></div>

    <input type="text" class="message" placeholder="Type here!"></input>
    
    <button onclick="sendMessage()">Send Message</button>

    <script>
        const socket = io('http://localhost:3001')
        
        const sendMessage = () => {
            socket.emit('message',document.querySelector("h4").innerHTML + " : "+document.getElementsByClassName("message")[0].value);
        }

        socket.on('message',(data)=>{

            var x = document.getElementById("messageBox").innerHTML
            x += data +"<br>"
            

            document.getElementById("messageBox").innerHTML=x
        });



    </script>

</body>


</html>