.error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.error-heading {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 0;
}

.fade-in {
    font-size: 2rem;
    margin-bottom: 30px;
    opacity: 0;
    animation: fadeIn 5s ease-in-out forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}