<!DOCTYPE html>
<html>
<head>
  <title>Error 404 - Page not found</title>
  <link rel="stylesheet" href="../Sorry/sorry.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"></head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12 error-container">
				<h1 class="error-heading">Error 404</h1>
				<p class="fade-in">Oops! Look like you are not supposed to be here.</p>
				<img class="fade-in" src="./t-google-404-1299071983.jpg">
                <a href="/homepage" class="btn btn-primary">Go to Homepage</a>
			</div>
		</div>
	</div>
</body>
</html>