<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        
    </head>

    <body> 
        
        <div class="theFoot">
            <footer class="section-p1">
                <div class="col">
                    <div class="logos" class="navbar-brand">Mavoch</div>
                    <h4>Contact</h4>
                    <p> <Strong>Address:</Strong> College Of Managment And Academic Studies, Rishon Lezion</p>
                    <p><strong>Hours:</strong> 7:00 - 21:00, Sun-Fri</p>
                
                </div>
                <div class="col">
                    <h4>About</h4>
                    <a href="/info">About Us</a>
                    <a href="/orders/my">Delivery Information</a>
                </div>
                <div class="col">
                    <h4>My Account</h4>
                    <a href="/login">Sign In</a>
                    <a href="/cart">View Cart</a>
                    <% if(type!="guest"&&type!=null&&user!=null) { %>
                        <a href="/customers/update/<%= user._id %>">Update Accound Details</a>
                    <% } %>
                </div>
                <div class="col install">
                    <h4>Secured Payment Gateways</h4>
                    <img src="../TemplatePage/Payment.jpg" alt="">
                </div>
                <div class="copyright">
                    <p>© 2023-2023  Mavoch.com , In</p>
                </div>
            </footer>
        </div>

        

    </body>


</html>