<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Sign up</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../LoginPage/loginPage.css">
</head>

<body>
    <div id="template1" class="header">
        <%- include ('../HomePage/HomePage.ejs') %>
    </div>
    
   <form class="container form-box" method="post" style="margin-top: 6rem; margin-bottom: 10rem;">
    
    <h1 style="margin-top: 12rem;">Sign up</h1>

    <input pattern="[A-Za-z ]+" type="text" placeholder="First Name" name="firstName" title="Only Letters!" required><br>
    <input pattern="[A-Za-z ]+" type="text" placeholder="Last Name" name="lastName" title="Only Letters!" required><br>
    <input pattern="[A-Za-z ]+" type="text" placeholder="City or spesific address" name="address" required><br>
    <input type="Number" name="creditCard" placeholder="Credit Card" required><br>
    <input type="text" placeholder="e-mail" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Email not valid"><br>
    <input type="text" placeholder="Password" name="password"><br>

    <div class="row">
      <div class="form-check col" style="padding-right: 5rem;">
        <input style="width: 1rem;" class="form-check-input" type="radio" name="customer" id="flexRadioDefault1" onclick="checkSup()" checked>
        <label class="form-check-label" for="flexRadioDefault1">
          I'm a Customer
        </label>
      </div>
      <div class="form-check col">
        <input style="width: 1rem;" class="form-check-input" type="radio" name="supplier" id="flexRadioDefault2" onclick="checkCus()" >
        <label class="form-check-label" for="flexRadioDefault2">
          I'm a Supplier
        </label>
      </div>

    </div><br><br>

    <br><br>
    <button class="btn btn-primary buttom" type="submit">sign up</button>
    <a style="margin-bottom: 4rem;" class="btn btn-dark buttom" href="/login">Allready have an account</a>
   </form>
   <footer id="footer-place"></footer>
                    <%- include ('../TemplatePage/Footer.ejs') %>


                    <script>
                        window.onload = function() {
                          var footer = document.querySelector('.theFoot');
                          var placeholder = document.querySelector('#footer-place');
                          placeholder.parentNode.insertBefore(footer, placeholder.nextSibling);
                         
                        }
                    </script>  

   <script>

    function checkSup(){
        document.getElementById("flexRadioDefault2").checked = false;
    }

    function checkCus(){
        document.getElementById("flexRadioDefault1").checked = false;
    }
    
   </script>
</body>


</html>